$section-padding: $size-normal 0 !default;
$section-padding-medium: $size-3 0 !default;
$section-padding-large: $size-1 0 !default;

.section {
  padding: $section-padding;

  &.is-spaceless {
    padding: 0;
  }
  &.is-medium {
    padding: $section-padding-medium;
  }
  &.is-large {
    padding: $section-padding-large;
  }
}
