// Stats & Colors
$primary: #006eb9;
$primary-hover: #005caa;
$secondary: #2cbb80;
$secondary-hover: #269e6d;
$dark: #aab7c7;
$darker: #4d545d;
$light: #ecf1f5;
$lighter: #f4faff;
$success: #58d250;
$success-hover: #58b437;
$danger: #d25050;
$danger-hover: #a64747;
$white: #fff;
$white-hover: #fff;

// Sizes
$main-width: 1100px;
$border-radius: 5px;

// Spaces
$spacing-s: 0.625em;
$spacing-m: 1.25em;
$spacing-l: 2em;
$spacing-xl: 3em;
$spacing-xxl: 4em;

// Font
$font-family: Montserrat,Helvetica,Arial,sans-serif;
$font-regular: 400;
$font-strong: 600;
$font-stronger: 800;
$font-s: 0.625em;
$font-m: 1.25em;
$font-l: 2em;
$font-xl: 2.5em;
$font-xxl: 3em;

// Popup
$popup-translate: -80px;