// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");

// Externals
@import "default/_all";
@import "icons";

html {
  height: 100%;
}

body {
  letter-spacing: -.025em;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  transition: all .2s ease;
}

.has-bg-bluedient {
  background-color: #009cde;
  background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
}
.has-bg-lightdient {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 52%, $lighter 100%);
}


.heading {
  font-size: $size-2;
  text-transform: none;
  margin: 0;
  line-height: 1;
  font-weight: $weight-extrabold;

  + .subheading {
    color: $dark;
    font-weight: $weight-bold;
    margin: $size-small 0 $size-medium;
  }
}


header#page-header {

  nav#main-nav {
    padding: $size-small 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #logo {
    display: block;
    height: 64px;
    img {
      height: 100%;
    }
  }
  #search {
    flex: 1;
    margin: 0 $size-medium;

    .search-input {
      font-weight: $weight-bold;
      font-size: 0.9em;
      height: 100%;
      transition: all 0.2s ease;

      &:focus,
      &:active {
        border: 2px solid $primary;
      }
    }
  }
  #account-menu {

  }
  nav#secondary-nav {
    background: $lighter;

    ul {
      display: flex;
      flex-direction: row;

      > li {
        width: 100%;
        position: relative;

        &:not(:first-child):not(:hover):after {
          position: absolute;
          width: 1px;
          height: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: #d6dce0;
          content: '';
        }
        &:hover + li:after {
          display: none;
        }
        > a {
          display: block;
          color: $darker;
          text-align: center;
          font-weight: $weight-bold;
          padding: $size-small;
          position: relative;

          &:hover {
            background: $secondary;
            color: #fff;
          }
        }
      }
    }
  }
}

footer#page-footer{

  .footer-inner {
    background: $lighter;
    width: 140%;
    margin-left: -20%;
    margin-right: -20%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 12.5em;
    padding-top: 1em;
  }
}

main {
  flex: 1;
  height: 100%;
}

.tab-nav {
  display: flex;
  flex-direction: row;
  margin-top: -$size-normal;
  margin-bottom: $size-medium;

  li {
    cursor: pointer;
    margin-right: $size-medium;
    opacity: 0.5;
    transition: all .2s;
    text-transform: uppercase;
    font-size: $size-normal;
    font-weight: $weight-bold;

    &.active {
      color: $primary;
      opacity: 1;
      font-weight: $weight-extrabold;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.article-card {
  height: 450px;

  .wrapper {
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: $border-radius;
    box-shadow: 0 0 40px 15px rgba(17, 35, 60, 0.1);

    &:hover img {
      transform: scale(1.1);
    }
  }
  img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
    transition: all .5s ease;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transform: translateZ(0); //img lag fix
  }
  .inner {
    display: flex;
    flex-direction: column;
    padding: $size-medium;
    z-index: 1;
    height: 100%;
    width: 100%;
    position : relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.05) 40%, #0a1d29 100%);
      border-radius: inherit;
      z-index: -1;
    }
  }
  header {
    flex: 1;
    height: 100%;

    span {
      padding: 6px 10px;
      border-radius: $border-radius;
      background: #fff;
      font-weight: $weight-bold;
      font-size: $size-small;
      text-transform: uppercase;
      color: $secondary;
    }
  }
  h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: $weight-bold;
    font-size: $size-medium;
  }
  .body {
    color: #fff;
    margin-bottom: $size-medium;
  }
  footer {
    span {
      font-size: $size-small;
      color: #fff;
    }
  }

}

.article-list {

}